<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<base th:fragment="base" th:href="${#httpServletRequest.getContextPath()}+'/'">
	<meta th:fragment="meta" charset="UTF-8">
    <meta th:fragment="meta" name="renderer" content="webkit">
    <meta th:fragment="meta" http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta th:fragment="meta" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta th:fragment="meta" name="apple-mobile-web-app-status-bar-style" content="black">
    <meta th:fragment="meta" name="apple-mobile-web-app-capable" content="yes">
    <meta th:fragment="meta" name="format-detection" content="telephone=no">
</head>